.container {
  margin-top: 50px;
  display: flex;
  gap: 15px;
}




.index {
  width: 30px;
  background-color: gray;
  height: 4px;
  border-radius: 10px;
  cursor: pointer;
}

.index:first-child {
  background-color: rgb(232 117 67);
}